@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
  --primary: #272042;
  --secondary: #8B8BA5;
  --yellow: #F7C531;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

.navbar {
  margin-bottom: 108px;
}

.navbar-nav {
  position: relative;
  margin-left: auto;
}

.brand {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  color: var(--primary);
}

.nav-link, .nav-link.active {
  margin-right: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22,5px;
}

.container-navbar {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.mykitchen {
  font-size: 18px;
  color: var(--primary);
  font-weight: 500;
  line-height: 22,5px;
  border-radius: 30px 30px 15px 15px;
  border: none;
  padding: 13px 30px;
  background-color: #FBE0DC;
}

.heading {
  font-size: 46px;
  font-weight: 700;
  color: var(--primary);
  line-height: 70px;
  margin-bottom: 10px;
  width: 450px;
}

.desc {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary);
  line-height: 34px;
  margin-bottom: 40px;
  width: 380px;
}

.decide {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  line-height: 22,5px;
  border-radius: 30px 30px 15px 15px;
  padding: 13px 42px;
  background-color: var(--yellow);
  border: none;
}

.hero-img {
  margin-left: 97px;
}

.categories {
  margin-top: 100px;
  margin-bottom: 155px;
}

.watch {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary);
  line-height: 25px;
  margin-bottom: 10px;
}

.special {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary);
  line-height: 40px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 62px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  line-height: 25px;
}

.menu-item.active {
  position: relative;
}

.menu-item.active::before {
  position: absolute;
  content: '';
  bottom: -10px;
  width: 50%;
  height: 2px;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--yellow);
}

.menu-item.active, .menu-item:hover {
  color: var(--yellow);
  font-weight: 500;
}

.desc-menu {
  font-size: 22px;
  color: var(--primary);
  font-weight: 500;
  line-height: 27,5px;
  margin-top: 14px;
}

.owner-menu {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  line-height: 20px;
  margin-top: 8px;
}

.rate-menu {
  margin-top: 12px;
}

.quote {
  margin-bottom: 100px;
}

.quotes {
  font-size: 500px;
  font-weight: 700;
  line-height: 625px;
  color: #F1F1F1;
  position: absolute;
  z-index: -1;
  left: 170px;
  top: 1177px;
}

.quote-text {
  width: 736px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  color: var(--primary);
}

.quote-user {
  width: 283px;
  display: flex;
  margin-top: 38px;
}

.camella {
  border-radius: 50%;
}

.user-info {
  margin-left: 20px;
  padding-top: 16px;
}

.info-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 27,5px;
  color: var(--primary);
  margin-bottom: 6px;
}

.info-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary);
}

.number {
  margin-bottom: 100px;
}

.total {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: var(--primary);
}

.number-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: var(--secondary);
}

.app {
  margin-bottom: 150px;
}

.app-content {
  padding-left: 43px;
}

.desc-app {
  width: 350px;
}

.appstore {
  margin-left: -10px;
}

.gplay {
  margin-left: -10px;
}

.footer {
  border-top: 1px solid #ECECEC;
}

footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-brand {
  display: flex;
  align-items: center;
}

.brand-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  color: var(--primary);
  margin-left: 10px;
}

.footer-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 27,5px;
  color: var(--primary);
  margin-bottom: 20px;
}

.footer-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 22,5px;
  color: var(--secondary);
  margin-bottom: 14px;
}

.footer-content a {
  text-decoration: none;
  color: var(--secondary);
}

.footer-content.active a {
  color: var(--primary);
  text-decoration: underline;
}

.copyright {
  padding: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  line-height: 20px;
}